.logo{
    position: relative;
    width:max-content;
    height: 150px;
}


.about_con{
    text-align: center;
    white-space:pre-line;
    background-color: white;
}

.about_company{
    padding: 20px 80px;
}

.about_company_slogan{
    font-size: 20px;
    font-style: italic;
    text-align: center;
    background-color: #F9F9F9;
}

.about_owner{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.about_contacts{

}
