@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

button{
    font-family: 'Poppins', sans-serif;
}

html body{
    background-color: #F9F9F9;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /*font-weight: 400;*/
}

.con{
    width: 100%;
    height: max-content;

    margin: auto;
    
    background: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;

    position: relative;
   
    height: max-content;
    top: 0px;

    background-color: white;
}

.header_contact_con{
    position: relative;
    
    width: 100%;
    height: max-content;
    
    
    top: 0px;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid#F9F9F9;

    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 12px;
}

.phone_email{
    display: flex;
    flex-direction: row;
    background-color: white;
    text-align: center;
    
}

.phone_email > div {
    flex: 1 1 auto;
    text-align: center;

    margin-right: 20px;  
    
}

.phone_email > div:last-child {
    margin-right: 0px; 
}

.header_main{
    width: 100%;
    
    padding-top: 30px;
}

.header_main_bar{
    position: sticky;
    position: -webkit-sticky;
    top: -1px;
    background-color: white;
    width: inherit;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;

    /*box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.04);*/

    z-index: 999;

}

.companyname_search{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.companyname{
    font-size: 30px; 
    font-weight: 700; 
    margin-right: 20px;
}

.search input{
    position: relative;
    height: 30px;
    
    top: 0px;

    /* C1/H */

    background: #F9F9F9;
    /* C1/D */

    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 10px;

    padding-right: 30px;
    padding-left: 10px;

    flex-grow:2;
}

.search input:focus{
    outline: none;
}

.search button{
    background-color:transparent;
    border: none;

    position: relative;

    left: -30px;

}

.search form{
    display:flex;
    flex-direction:row;
    

  /* I've used padding so you can see the edges of the elements. */
    padding:2px;
}





.menu_bar {
    background-color: #F9F9F9;
    width: inherit;
    height: max-content;

    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
        
}

.content1{
    width: inherit;
    height: max-content ;

    padding: 50px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

}

.category{   
    height: max-content;
}

.category_content{
    width: inherit;
    height: max-content;

    text-align: left;
}

.category_content li{
    list-style: none;
    text-decoration: underline;
    text-underline-offset: 2px;
    padding-bottom: 8px;
}

.category button{
    background-color: #F9F9F9;
    padding:15px;
    margin-top: 40px;

    font-size: 18px;

    border: none;
    border-radius: 15px;

    font-weight: 600;
}

.readmore_con{
    display: flex;
    flex-direction: row;
}

.readmore{
    background-color: #D1D1D1;
    width: 420px;
    height: 300px;
    
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    
}

.readmore_subheading{    
    padding-top: 45px;
    padding-left: 25px;
    text-align: left;

    font-weight: 600;
}

.readmore_heading{
    padding-top: 15px;
    padding-left: 25px;
    text-align: left;

    font-weight: 600;
    font-size: 25px;
}

.readmore button{

    position: relative;
    background-color: #F9F9F9;
    padding:15px;

    margin-top: 90px;
    margin-left: 25px;

    width: 180px;

    font-size: 18px;

    border-color:black;
    border-width: 3px;
    border-radius: 15px;

    font-weight: 600;
}

.content1, .readmore_con > div{
 
    text-align: center;

    margin-right: 20px;  
    margin-left: 0px;
}

.readmore_con > div{
 
    text-align: center;

    margin-right: 20px;  
    margin-left: 0px;
}

.content1, .readmore_con> div:last-child {
    margin-right: 0px; 
}